<div style='border: 3px dashed red'>
  <% if @visitor %>
    Hello, <%= @visitor %> <br>
  <% end %>
  <% if @name %>
    My name is <%= @name %> <br>
  <% end %>
  <img src='http://bit.ly/1eze8aE'>
</div>